
  womenpage.html{
    @media screen and (max-width: 768px) 

   font-size: 3.5vw;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    
}
header.womenpage{
    background-color: red;
}
div.womenpageheadline{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 35px;
    border-radius: 25px;
    background-color: red;
    justify-content: center;
    align-items: center;
    
}
div.womenproductheader{
    display: flex;
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
div.firstwomenproduct{
    border: 13px solid #A4150B;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
div.firstwomenpic{
    display: flex;
}
div.firstwomentext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.secwomenproduct{
    border: 13px solid #A4150B;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
div.secwomenpic{
    display: flex;
}
div.secwomentext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.thirdwomenproduct{
        border: 13px solid #A4150B;
        display: flex;
        flex-direction: column;  
        margin: 30px; 
}
div.thirdwomenpic{
    display: flex;
}
div.thirdwomentext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_button{
    background-color: white;
}
.my_button:hover{
    background-color: red;
}